/* Reset das confgiuradoes do navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Times New Roman', Times, serif;
}

.pag1  {
    background-color: blanchedalmond;
}

.pag2 {
    background-color: blanchedalmond;
}


.pagina3 {
    background-image: url(assets/fundo3.jpg);
}

h2 {
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
    font-size: 15px;
    margin: 20px 70px;
}

a {
    display: block;
    max-width: 50px;
    margin: 20px auto;
}

img {
    display: block;
    max-width: 300px;
    margin: 10px auto;
}

button{
    display: block;
    margin: 20px auto;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 30px 
}

ol{
    margin: 10px auto;
    padding: 30px auto;
    text-align: center;
}
li{
    font-size: 15px;
    font-weight: bold;
    color: red;
}
